body {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 300;
}

img {
  max-width: 100%;
  display: block;
}

/* typography */
h1,
h2,
h3 {
  font-weight: 400;
  color: darkgoldenrod;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

a {
  color: darkorange;

}

a:hover,
a:focus {
  color: aqua;

}

strong {
  font-weight: 700;
}

.subtitle {
  font-weight: 700;
  color: darksalmon;
  font-size: .75rem;
  margin: 0;

}

.article-title {
  font-size: 1.5rem;
}

.article-read-more,
.article-info {
  font-size: 0.875rem;
}

.article-read-more {
  color: darkorange;
  text-decoration: none;
  font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus {
  color: aqua;
  text-decoration: underline;
}

.article-info {
  margin: 2em 0;
}

/* Layout */

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {

  background-color: antiquewhite;
  padding: 2em 0;
  text-align: center;
}

@media (min-width: 675px) {
  .container-flex {
    flex-direction: row;
  }
  main {
    width: 75%;
  }

  aside {
    width: 20%;
  }
}

/* Navigation */

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: darkorange;
  font-weight: 700;
  padding: .25em 0;
}

nav a:hover,
nav a:focus {
  color: aqua;
}

.current-page {
  border-bottom: 1px solid darkorange;
}

.current-page:hover {
  color: darkorange;
}

@media (max-width: 675px) {
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin: .5em 0;
  }
}

/* articles */

.article-featured {
  border-bottom: darkorange 1px solid;
  padding: 1em;
  margin-bottom: 2em;
  background-color: pink;
}

